<h1 class="mt-4">Student Dashboard</h1>
<br />
<p class="lead mb-3">Welcome <Strong><%= user.name %></Strong></p>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<br />
<br />

<a href="/student/profile">Profile</a>
<br />
<a href="/studentDashboard">Events</a>
<br />
<a href="/student/change-password">Change Password</a>
<br />
<a href="/student/my-events">My registered events</a>
<br />

<br />
