<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Added container class for better alignment -->
    <a class="navbar-brand mr-auto" href="/studentDashboard">The Coding Club</a>
    <!-- Added mr-auto class to align to left -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <!-- Added justify-content-center class to center align -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/student/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/studentDashboard">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/change-password"
            >Change Password</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/my-events">My registered events</a>
        </li>
      </ul>
    </div>
    <div class="my-2 my-lg-0">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Welcome <%= user.name %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
