<%- include('partials/studentNavbar') %>

<h3>Change Password</h3>

<br />
<%- include ("./partials/messages"); %>
<br />


<form id="changePasswordForm" action="/student/change-password" method="POST">
  <label for="newPassword">New Password:</label><br />
  <input type="password" id="newPassword" name="newPassword" required /><br />
  <div id="newPasswordError" class="error-message"></div>
  <br />

  <label for="confirmNewPassword">Confirm New Password:</label><br />
  <input
    type="password"
    id="confirmNewPassword"
    name="confirmNewPassword"
    required
  /><br />
  <div id="confirmNewPasswordError" class="error-message"></div>
  <br />

  <input type="checkbox" id="showPassword" />
  <label for="showPassword">Show Password</label><br />

  <input type="submit" value="Submit" />
</form>

<script>
  const newPassword = document.getElementById("newPassword");
  const confirmNewPassword = document.getElementById("confirmNewPassword");
  const newPasswordError = document.getElementById("newPasswordError");
  const confirmNewPasswordError = document.getElementById(
    "confirmNewPasswordError"
  );

  function validatePasswords() {
    if (newPassword.value !== confirmNewPassword.value) {
      confirmNewPasswordError.textContent = "Passwords do not match";
    } else {
      confirmNewPasswordError.textContent = "";
    }
  }

  newPassword.addEventListener("input", validatePasswords);
  confirmNewPassword.addEventListener("input", validatePasswords);

  const showPasswordCheckbox = document.getElementById("showPassword");
  showPasswordCheckbox.addEventListener("change", function () {
    if (showPasswordCheckbox.checked) {
      newPassword.type = "text";
      confirmNewPassword.type = "text";
    } else {
      newPassword.type = "password";
      confirmNewPassword.type = "password";
    }
  });
</script>
