<%- include('partials/studentNavbar') %> 

<%- include('../partials/goBackButton') %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3 class="mb-4">Change Password</h3>

      <%- include ("./partials/messages"); %>

      <form
        id="changePasswordForm"
        action="/student/change-password"
        method="POST"
      >
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
            required
          />
          <div id="newPasswordError" class="error-message"></div>
        </div>

        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password:</label>
          <input
            type="password"
            class="form-control"
            id="confirmNewPassword"
            name="confirmNewPassword"
            required
          />
          <div id="confirmNewPasswordError" class="error-message"></div>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="showPassword" />
          <label class="form-check-label" for="showPassword"
            >Show Password</label
          >
        </div>

        <button
          type="submit"
          id="submitButton"
          class="btn btn-primary"
          disabled
        >
          Set New Password
        </button>
      </form>
    </div>
  </div>
</div>

<style>
  #confirmNewPasswordError {
    color: red;
  }
</style>

<script>
  const newPassword = document.getElementById("newPassword");
  const confirmNewPassword = document.getElementById("confirmNewPassword");
  const newPasswordError = document.getElementById("newPasswordError");
  const confirmNewPasswordError = document.getElementById(
    "confirmNewPasswordError"
  );
  const submitButton = document.getElementById("submitButton");

  function validatePasswords() {
    if (newPassword.value !== confirmNewPassword.value) {
      confirmNewPasswordError.textContent = "Passwords do not match";
      submitButton.disabled = true;
    } else {
      confirmNewPasswordError.textContent = "";
      submitButton.disabled = false;
    }
  }

  newPassword.addEventListener("input", validatePasswords);
  confirmNewPassword.addEventListener("input", validatePasswords);

  const showPasswordCheckbox = document.getElementById("showPassword");
  showPasswordCheckbox.addEventListener("change", function () {
    if (showPasswordCheckbox.checked) {
      newPassword.type = "text";
      confirmNewPassword.type = "text";
    } else {
      newPassword.type = "password";
      confirmNewPassword.type = "password";
    }
  });
</script>
