<h1 class="mt-4">Faculty Dashboard</h1>
<br />
<p class="lead mb-3">Welcome <Strong><%= user.name %></Strong></p>

<a href="/users/logout" class="btn btn-secondary">Logout</a>
<br /><br />

<a href="/event/create-event">Create event</a>
<br />
<a href="/users/add-user-by-admin">Add user</a>
<br />
<a href="/users/get-all-users">List Admin Access Users</a>
<br>
<a href="/users/get-students">Students info</a>

<br /><br />
