<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/facultyDashboard">Coding Club</a>
    <!-- Remove mr-auto class -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <!-- Add justify-content-end class -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/facultyDashboard">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/event/create-event">Create event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/add-user-by-admin">Add user</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/get-all-users">Admin Access Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/get-students">Students info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery/create-gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin" target="_blank"
            >DB Administration</a
          >
        </li>
      </ul>
    </div>

    <div class="my-2 my-lg-0">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Welcome, <%= user.name %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/users/logout">Logout</a>

          <a class="dropdown-item" href="/users/change-password"
            >Change Password</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
